.widget blockquote {
    color: #555555;
    margin-bottom: 0;
    margin-top: 2.5rem;
    border: 0;
    padding: 0;
}
.widget blockquote cite {
    margin-top: 0.3rem;
    color: #000000;
    font-weight: normal;
    text-align: right;
}
.widget blockquote:before {
    color: #eeeeee;
    font-size: 30px;
    line-height: 0.5em;
    margin-right: 0.27em;
    content: "\f10d";
    font-family: FontAwesome;
    float:left;
}
.widget .slsw-teacher {
    text-align: center;
}
.widget .slsw-teacher-title {
    line-height: 2.5;
}
